profiles {
  GATK4 {
    env {
      ref_fasta = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.fasta"
      ref_fasta_index = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.fasta.fai"
      ref_dict = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.dict"
      ref_alt = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.fasta.64.alt"
      ref_sa = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.fasta.64.sa"
      ref_amb = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.fasta.64.amb"
      ref_bwt = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.fasta.64.bwt"
      ref_ann = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.fasta.64.ann"
      ref_pac = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.fasta.64.pac"
      contamination_sites_ud = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.contam.UD"
      contamination_sites_bed = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.contam.bed"
      contamination_sites_mu = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.contam.mu"
      compression_level = "2"
      known_indels_sites_Gold = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
      known_indels_sites_assembly38 = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.known_indels.vcf.gz"
      known_indels_sites_index_Gold = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi"
      known_indels_sites_index_assembly38 = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.known_indels.vcf.gz.tbi"
      dbSNP_vcf = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.dbsnp138.vcf"
      dbsnp_vcf = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Homo_sapiens_assembly38.dbsnp138.vcf"
      axiomPoly_resource_vcf = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Axiom_Exome_Plus.genotypes.all_populations.poly.hg38.vcf.gz"
      hapmap_resource_vcf = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/hapmap_3.3.hg38.vcf.gz"
      mills_resource_vcf = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
      omni_resource_vcf = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/1000G_omni2.5.hg38.vcf.gz"
      one_thousand_genomes_resource_vcf = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
      wgs_calling_interval_list = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/wgs_calling_regions.hg38.interval_list"
      wgs_coverage_interval_list = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/wgs_coverage_regions.hg38.interval_list"
      wgs_evaluation_interval_list = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/wgs_evaluation_regions.hg38.interval_list"
      haplotype_scatter_count = "50"
      scatter_order = "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/hg38/v0/scattered.interval_list.order"
      break_bands_at_multiples_of = "1000000"
      snp_recalibration_tranche_values = "100.0,99.95,99.9,99.8,99.6,99.5,99.4,99.3,99.0,98.0,97.0,90.0"
      snp_recalibration_annotation_values = "QD,MQRankSum,ReadPosRankSum,FS,MQ,SOR,DP"
      indel_recalibration_tranche_values = "100.0,99.95,99.9,99.5,99.0,97.0,96.0,95.0,94.0,93.5,93.0,92.0,91.0,90.0"
      indel_recalibration_annotation_values = "FS,ReadPosRankSum,MQRankSum,QD,SOR,DP"
      snp_filter_level = "99.7"
      indel_filter_level = "99.7"
      SNP_VQSR_downsampleFactor = "10"
      picard_path = "/share/ClusterShare/software/contrib/evaben7/picard/2.8.1/prebuilt/picard.jar"
    }
    process {
      withName: getIntervalLength {
        executor = 'local'
      }
      withName: CombineGenotypeSitesOnlyGVCF {
        clusterOptions = '-S /bin/bash -pe smp 2 -l mem_requested=50000M -l tmp_requested=15625M -l h=\'!epsilon*\''
      }
      withName: ImportGVCFs {
        cpus = '2'
        memory = '100000M'
      }
      withName: GenotypeGVCFs {
        cpus = '2'
        memory = '7000M'
      }
      withName: VariantFilteration {
        cpus = '2'
        memory = '7000M'
      }
      withName: MakeSitesOnlyVcf {
        cpus = '2'
        memory = '7000M'
      }
      withName: GatherSiteOnlyVCFs {
        cpus = '2'
        memory = '7000M'
      }
      withName: IndelsVariantRecalibrator {
        clusterOptions = '-S /bin/bash -pe smp 2 -l mem_requested=80000M -l tmp_requested=15625M -l h=\'!epsilon*\''
      }
      withName: SNPsVariantRecalibratorClassic {
        clusterOptions = '-S /bin/bash -pe smp 2 -l mem_requested=80000M -l tmp_requested=15625M -l h=\'!epsilon*\''
      }
      withName: ApplyRecalibration {
        cpus = '2'
        memory = '7000M'
      }
      withName: FinalGather {
        cpus = '2'
        memory = '7000M'
      }
    }
  }
}
