process.executor = 'sge'
process.penv = 'smp'
process.clusterOptions = '-S /bin/bash -q x10.q'
process.errorStrategy = 'finish'

profiles {
  dice {
    process {
      executor = 'sge'
      penv = 'smp'
      clusterOptions = '-S /bin/bash -q x10.q'
    }
  }
  brenner {
    process {
      executor = 'sge'
      penv = 'smp'
      clusterOptions = '-S /bin/bash -l tmp_requested=15625M'
      errorStrategy = 'finish'
    }
  }
  gls {
    workDir = 'gs://pb-dev-312200.appspot.com/workflow-tests/fastq2gvcf-nextflow'
    process {
      executor = 'google-lifesciences'
      container = 'gcr.io/pb-dev-312200/genomes-in-the-cloud:2.3.1-1512499786'
      errorStrategy = { task.exitStatus==14 ? 'retry' : 'finish' }
      maxRetries = 5
    }
    google {
      project = 'pb-dev-312200'
      region = 'australia-southeast1'
      lifeSciences.preemptible = true
    }
  }
  GATK4 {
    process {
      container = '/home/glsai/.singularity/cache/oci-tmp/4fca8ca945c17fd86e31eeef1c02983e091d4f2cb437199e74b164d177d5b2d1/genomes-in-the-cloud_2.3.1-1512499786.sif'
      clusterOptions = '-S /bin/bash -l tmp_requested=15625M'
    }
    singularity {
      runOptions = '--bind "/bin/bash" --bind "/share/ClusterShare/Modules/modulefiles/contrib/centos6.10/" --bind "/paella/CRAMPipeline/projects/" --bind "/directflow/ClinicalGenomicsPipeline/dev/2019-11-05-BINF-469-GATK4/gatk-workflows/broad-references/" --bind "/share" --bind "/usr" --bind "/etc" --bind "/bin"'
      enabled = true
    }
  }
}
